@{
    ViewBag.Title = "DisplaySubmittedExperiment";
}

@Html.AntiForgeryToken()
<h2>DisplaySubmittedExperiment</h2>

@model RoadScholar.Models.TrueFalseQuestionResponse


<h2>הידד! סיימת את הניסוי!</h2>