@{
    ViewBag.Title = Resources.AboutUs;
}
<h2>@ViewBag.Title</h2>
<div class="row col-md-12">
    <div class="col-md-12">
        <h3>לימוד והקניית מיומנויות חקר באופן חוויתי בכיתה ובמעבדה</h3>
    </div>
    <div class="col-md-12">
        <h3>חוקר דרך מאגד למורה את כל הכלים לניהול וארגון שלבי החקר</h3>
    </div>
    <div class="col-md-12">
        <h3>כלי למורה ולתלמידים לתכנון ומעקב של חקר מדעים בזמן השיעור, באמצעות ממשק מורה וסמארטפונים</h3>
    </div>
</div>
<br />
<br />
<br />
<h3>@ViewBag.Message</h3>
<p>חברי צוות הפיתוח:</p>
<p>אביעד "הקונסטרקטור" ביטון</p>
<p>רן "קומפיילר" ציטאיאט</p>
<p>    עידן "יש לי ילד" מירוצ'ניק</p>
<p>    איתמר "הדיסטרקטור" סויסה</p>

<p>    מנחים אקדמים: ד"ר ארנון שטורם, ד"ר גרא וייס</p>
<p>    עוזר הוראה: ד"ר עזאם מרעי</p>
<p>    מנחים מקצועיים:</p>
<p>    מר נמרוד ברקאי</p>
<p>    גב' אימאן בדאח</p>
<p>    סתם מעניין אותי אם מישהו מסתכל על הדף הזה... </p>
<p>    אני יכול להוסיף כאן שטויות כרצוני</p>