<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <!--<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-RoadScholar-20160107052703.mdf;Initial Catalog=aspnet-RoadScholar-20160107052703;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    -->
  <!--<add name="DefaultConnection2" connectionString="Data Source=SQL5012.Smarterasp.net;Initial Catalog=DB_9EFC12_aviadbi1;User Id=DB_9EFC12_aviadbi1_admin;Password=as12AS34;"
      providerName="System.Data.SqlClient" />--><!--
    --><!--<add name="RoadScholarContext" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=RoadScholarContext-20160107172958; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|RoadScholarContext-20160107172958.mdf"
      providerName="System.Data.SqlClient" />--><!--
  </connectionStrings>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
