@{
    ViewBag.Title = "History";
}
<hr />
<div class="row col-xs-12">
    <a href="/Activities/HistoryByStudent" class="btn btn-lg btn-success col-xs-5"><span class="glyphicon glyphicon-user"></span> היסטוריה לפי תלמיד</a>
    <a href="/Activities/HistoryByActivity" class="btn btn-lg btn-danger col-xs-5 col-xs-offset-2"><span class="glyphicon glyphicon-search"></span> @Resources.HistoryByActivity</a>
</div>